nav {
  margin-bottom: 40px;
}

nav ul {
  list-style: none;
  padding-left: 0px;
}

nav ul li :hover {
  background-color: #df7777;
  transition: 0.25s ease-in;
}

nav ul li a {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 220px;
  background-color: #760f0f;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
  float: left;
  display: block;
  text-align: left;
  padding: 18px 20px;
  transition: 0.25s ease-out;
}

nav ul li a :visited {
  background-color: #2d882d;
}

@media (max-width: 600px) {
  nav {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  nav ul li a {
    width: 100%;
    box-sizing: border-box;
  }
}
