nav {
  margin-bottom: 40px;
}

nav ul {
  list-style: none;
  padding-left: 0px;
}

nav ul li :hover {
  background-color: #df7777;
  transition: 0.25s ease-in;
}

nav ul li a {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 220px;
  background-color: #760f0f;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 18px 20px;
  transition: 0.25s ease-out;
}

nav ul li a :visited {
  background-color: #2d882d;
}

@media (max-width: 700px) {
  header {
    margin-top: 0px;
  }
  nav {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 0.6em;
  }

  nav ul {
    margin: 5px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #760f0f;
  }
  nav ul li a {
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media (max-width: 400px) {
  nav {
    font-size: 0.8em;
  }
  nav ul {
    display: block;
    background-color: white;
  }
  nav ul li a {
    width: 100%;
    box-sizing: border-box;
  }
}
