.wholeAdder {
  border: blue 1px dashed;
  margin: 10px 5px 10px 5px;
}
.addarticle {
  display: flex;
  flex-direction: row;
  color: blue;
  vertical-align: middle;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  align-content: center;
}

.addarticle div {
  text-align: center;
  vertical-align: middle;
}

.formContracted:hover {
  color: green;
  cursor: pointer;
}
.formExpanded:hover {
  color: red;
  cursor: pointer;
}

.addarticle .plus i {
  vertical-align: middle;
  margin-top: 8px;
  margin-right: 8px;
}

.addarticle i {
  margin-left: 5px;
}

.addArticleForm {
  text-align: left;
  vertical-align: top;
  margin-bottom: 20px;
}

.addArticleForm label {
  vertical-align: top;
  margin-right: 50px;
  font-weight: bold;
}

.deleteArticle div:hover {
  color: red;
  cursor: pointer;
}
