.color-primary-0 {
  color: #3c3176;
}
.color-primary-1 {
  color: #a098c4;
}
.color-primary-2 {
  color: #665b9a;
}
.color-primary-3 {
  color: #1e1352;
}
.color-primary-4 {
  color: #0b042d;
}

.color-secondary-1-0 {
  color: #aa3838;
}
.color-secondary-1-1 {
  color: #ffbebe;
}
.color-secondary-1-2 {
  color: #df7777;
}
.color-secondary-1-3 {
  color: #760f0f;
}
.color-secondary-1-4 {
  color: #410000;
}

.color-secondary-2-0 {
  color: #2d882d;
}
.color-secondary-2-1 {
  color: #a2d9a2;
}
.color-secondary-2-2 {
  color: #5fb25f;
}
.color-secondary-2-3 {
  color: #0c5e0c;
}
.color-secondary-2-4 {
  color: #003400;
}

.color-complement-0 {
  color: #aa9438;
}
.color-complement-1 {
  color: #fff2be;
}
.color-complement-2 {
  color: #dfca77;
}
.color-complement-3 {
  color: #76620f;
}
.color-complement-4 {
  color: #413400;
}
