.navbarLogin {
  padding: 20px 5px 10px 5px;
}

.navbarLogin p {
  margin: 0px;
  padding: 2px;
  color: #003400;
  font-size: 0.9em;
}

.loginPopup {
  text-align: center;
}

.loginPopup form {
  margin: 5px auto 5px auto;
  width: 400px;
}

.loginButtonContainer {
  align-content: left;
  text-align: left;
}

.loginButton {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
  float: left;
  padding: 12px 18px;
  transition: 0.25s ease-out;
  border: 0px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #0c5e0c;
}

.loggedin {
  background-color: #0c5e0c;
}

.loggedout {
  background-color: #ffbebe;
}
