aside {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px 20px 10px 20px;
  grid-area: sidebar;
  font-size: 1.2em;
}

.mainTitle {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 200px;
  background-color: #410000;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
  float: left;
  display: block;
  text-align: left;
  padding: 14px 20px;
  transition: 0.25s ease-out;
}
.mainTitle h1 {
  margin: 0px;
  text-align: center;
}
nav {
  margin-bottom: 40px;
}

nav ul {
  list-style: none;
  padding-left: 0px;
}

nav ul li {
  /* background-color: #760F0F; */
}

nav ul li :hover {
  background-color: #0c5e0c;
  transition: 0.25s ease-in;
}

nav ul li a {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
  background-color: #760f0f;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
  float: left;
  display: block;
  text-align: left;
  padding: 18px 20px;
  transition: 0.25s ease-out;
}

nav ul li a :visited {
  background-color: #2d882d;
}

.searchForm {
  padding: 5px;
  width: 200px;
  background-color: #df7777;
  width: 100%;
  box-sizing: border-box;
}

.searchForm h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: 0.9em;
}

.searchButton {
  background-color: white;
  color: #df7777;
  font-weight: bold;
  border: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.color-primary-0 {
  color: #3c3176;
}
.color-primary-1 {
  color: #a098c4;
}
.color-primary-2 {
  color: #665b9a;
}
.color-primary-3 {
  color: #1e1352;
}
.color-primary-4 {
  color: #0b042d;
}

.color-secondary-1-0 {
  color: #aa3838;
}
.color-secondary-1-1 {
  color: #ffbebe;
}
.color-secondary-1-2 {
  color: #df7777;
}
.color-secondary-1-3 {
  color: #760f0f;
}
.color-secondary-1-4 {
  color: #410000;
}

.color-secondary-2-0 {
  color: #2d882d;
}
.color-secondary-2-1 {
  color: #a2d9a2;
}
.color-secondary-2-2 {
  color: #5fb25f;
}
.color-secondary-2-3 {
  color: #0c5e0c;
}
.color-secondary-2-4 {
  color: #003400;
}

.color-complement-0 {
  color: #aa9438;
}
.color-complement-1 {
  color: #fff2be;
}
.color-complement-2 {
  color: #dfca77;
}
.color-complement-3 {
  color: #76620f;
}
.color-complement-4 {
  color: #413400;
}
