nav {
  text-align: left;
  padding: 20px 20px 10px 20px;
  grid-area: sidebar;
  font-size: 1.2em;
}

nav header {
  text-align: center;
}

nav header h1 {
  margin: 5px;

  font-size: 1.2em;
}

nav header h2 {
  margin: 5px;
  text-align: center;
  font-size: 1.2em;
}

nav li {
  margin: 0px 10px 0px 20px;
  list-style: none;
}

nav ul {
  margin: 0px;
  list-style: none;
  padding-left: 0px;
}

nav ul li {
  margin: 0px;
  list-style: none;
  padding-left: 0px;
}

nav h3 {
  margin-top: 40px;
  margin-bottom: 5px;
}

nav form {
  padding: 5px;
}
