.userPage {
  border: yellow 2px solid;
}

.userPage header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.userPage header figure {
  width: 300px;
  height: 260px;
  border: black 1px dashed;
  margin: 10px;
}

.userPage header figure img {
  width: 100%;
}

.userPage header section {
  text-align: justify;
  text-justify: auto;
}
