.userPage {
  border: #aa9438 3px solid;
  padding: 10px;
}

.userPage header {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #413400;
}

.userPage header figure {
  min-width: 100px;
  border: #aa9438 1px dashed;
  margin: 0px;
}

.userPage header figure img {
  width: 100%;
}

.userPage header section {
  color: #413400;
}

.userPage header section h1 {
  font-size: 1.4em;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #413400;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  padding: 14px 20px;
}

.userPage header section h2 {
  font-size: 1.2em;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #76620f;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  padding: 14px 20px;
}

.userInfo {
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #dfca77;
  text-align: left;
  padding: 14px 20px;
}

.userInfo p {
  color: #413400;
}

.userLoading {
  color: #413400;
}

.profilePlaceholder {
  font-size: 200px;
  padding: 5px;
}

@media (max-width: 600px) {
  .userPage header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
