.votingAble {
  transition: 1s ease-out;
  color: #3c3176;
}

.votingDisabledUp {
  transition: 1s ease-in;
  color: green;
}

.votingDisabledDown {
  transition: 1s ease-out;
  color: red;
}

.votingHoverUp:hover {
  transition: 1s ease-out;
  color: lightgreen;
}

.votingHoverDown:hover {
  transition: 1s ease-out;
  color: lightcoral;
}

.votingBlock {
  font-size: 20px;
}

.votingAlignment {
  display: block;
  width: 100px;
  height: 70px;
  text-align: right;
  margin: 5px;
}

.voteText {
  color: #0a042c;
  font-weight: bold;
}
