.votingAble {
  transition: 1s ease-out;
  color: #3c3176;
}

.votingDisabledUp {
  transition: 1s ease-in;
  color: #0c5e0c;
}

.votingDisabledDown {
  transition: 1s ease-out;
  color: #760f0f;
}

.votingHoverUp:hover {
  transition: 1s ease-out;
  color: #5fb25f;
}

.votingHoverDown:hover {
  transition: 1s ease-out;
  color: #df7777;
}

.votingBlock {
  font-size: 20px;
}

.votingAlignment {
  display: block;
  width: 100px;
  height: 70px;
  text-align: right;
  margin: 5px;
}

.voteText {
  color: #1e1352;
  font-weight: bold;
}
