article {
  border: #3c3176 3px solid;
  margin: 5px;
  padding: 10px;
}

article header {
  text-align: left;
  width: 100%;
  margin-bottom: 8px;
}

article h1 {
  margin: 0px;
}

article h1 a {
  margin: 0px 0px 10px 0px;
  padding: 10px;
  font-size: 1.5em;
  line-height: 1.5em;
  color: white;
  text-decoration: none;
  background-color: #3c3176;
  transition: 0.5s ease-out;
}

article h2 a {
  margin: 0px 0px 10px 0px;
  padding: 5px;
  font-size: 1.2em;
  line-height: 1.2em;
  background-color: #665b9a;
  color: white;
  text-decoration: none;
  transition: 0.5s ease-out;
}

article h3 a {
  margin: 0px;
  padding: 5px;
  font-size: 1.1em;
  line-height: 1.1em;
  background-color: #a098c4;
  color: white;
  text-decoration: none;
  transition: 0.5s ease-out;
}

article h1 :hover {
  background-color: #76620f;
  transition: 0.25s ease-in;
}

article h2 :hover {
  background-color: #dfca77;
  transition: 0.25s ease-in;
}

article section {
  text-align: justify;
  text-justify: auto;
  margin-bottom: 10px;
  color: #1e1352;
}

article footer {
  width: 100%;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
}

article footer .voting {
  width: 200px;
  display: flex;
  flex-direction: row;
}

article footer .voting div {
  background-color: lightcoral;
  padding: 10px;
  width: 100px;
}

@media (max-width: 600px) {
  article {
    margin: 5px 0px 5px 0px;
    padding: 8px;
  }

  article header {
    margin-bottom: 2px;
  }

  article h1 a {
    margin: 0px 0px 5px 0px;
    padding: 5px;
    font-size: 1.2em;
    line-height: 1.2em;
    transition: 0.5s ease-out;
  }

  article h2 {
    margin: 10px 0px 5px 0px;
  }

  article h2 a {
    margin: 0px 0px 5px 0px;
    padding: 2px;
    font-size: 1.1em;
    line-height: 1.1em;
    transition: 0.5s ease-out;
  }

  article h3 {
    margin: 10px 0px 5px 0px;
  }

  article h3 a {
    margin: 0px;
    padding: 5px;
    font-size: 0.9em;
    line-height: 1em;
    transition: 0.5s ease-out;
  }
}
