body {
  background-color: #ffffff;
}
.App {
  max-width: 1300px;
  margin: 0px auto 0px auto;
  padding-top: 10px;
  box-sizing: border-box;
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'sidebar main';
  font-family: 'Nanum Gothic', sans-serif;
}

main {
  grid-area: main;
  overflow: scroll;
}
