.App {
  max-width: 1300px;
  margin: 0px auto 0px auto;
  padding-top: 10px;
  box-sizing: border-box;
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'sidebar main';
}

nav {
  border: red 2px solid;
  text-align: left;
  padding: 5px;
  grid-area: sidebar;
}

main {
  border: green 2px solid;
  grid-area: main;
  overflow: scroll;
}
