.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'sidebar main';
}

nav {
  border: red 2px solid;
  text-align: left;
  padding: 5px;
  grid-area: sidebar;
}

main {
  border: green 2px solid;
  grid-area: main;
}
